$color-black: #333;
$color-lightgray: #eee;


// FONT-SIZE
/**
   * Fonts
   */
$font-family--default: "Montserrat", sans-serif;
$font-family--primary: "Lato", sans-serif;
$font-size--xxsmall: 11px;
$font-size--xsmall: 13px;
$font-size--small: 14px;
$font-size: 15px;
$font-size--smedium: 16px;
$font-size--medium: 18px;
$font-size--xmedium: 20px;
$font-size--large: 22px;
$font-size--xlarge: 26px;
$font-size--xxlarge: 36px;




$color--default: #3b3b4d;
$color--primary: #14d2b8;
$color--secondary: #0092a9;
$color--tertiary: #8768ff;
$color--quaternary: #f88f33;
$color--quinary: #ff8298;
$color--white: #fff;
$color--light: #e7e9ed;
$color--grey: #747474;
$color--grey-light: #b2b6ba;
$color--grey-medium: #888e94;